html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

header{
    height: 54vh;
    width: 100%;
    position: relative;
    background-image: url(../img/zebra1.jpg);
    background-size: cover;
    background-repeat: no-repeat;   
}
h1{
    position: relative;
    top: 105px;
    width: 263px;
    margin: 0 auto;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'Poller One', cursive;
    color: black;
    font-size: 36px;
    text-align: center;
    line-height: 37px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.356);
}

header img{
    width: 60px;
    height: 60px;
    margin-left: 120px; 
}
h2{
    width: auto;
    margin-top: 40px;
    background-color: white;
    color: black;
    font-family: 'Poller One', cursive;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.185);
}
h3{
    font-weight: 800;
    padding-top: 20px;
    text-align: center;
}
nav.deux{
    display: none;
}

nav.une {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
}
.menuNav{
    width: 100%;
    height: 100vh;
    margin: 20px auto;
    text-align: center;
    background-color: rgb(0, 0, 0);
    z-index: 5;
    color: rgb(255, 255, 255);
    list-style: none;
    position: absolute;
    top: -20px;
    left: 0;
    display: flex;
    flex-direction: column;
}
.menuHamb:hover{
    cursor: pointer;
}
.menuHamb{
    color: white;
    padding: 8px;
}
.material-icons.md-18.arrow-back { 
    color: white;
    position: absolute;
    left: 7px;
    top: 3px;
}

nav ul{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    border-top: solid 5px rgba(255, 255, 255, 0.192);
    border-bottom: solid 5px rgb(255, 255, 255, 0.192);
    background-color: rgb(0, 0, 0);
}
nav li{
    text-align: center;
    padding: 9px; 
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

section{
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
    line-height: 30px;
    border-right: solid 1px rgba(255, 255, 255, 0.089);
    border-left: solid 1px rgba(255, 255, 255, 0.089);
}
.accueil img{
    width: 20%;
    margin: auto;
}
.musicien img{
    width: 204px;
    height: 158px;
    object-fit: contain;
    padding: 10px;
}

.agenda{
    text-align: center;
}

.concerts img{
    width: 100%;
}
.video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    z-index: 0;
}
.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    height: 100%;
}

.photosflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.affiches img, .image img{
    margin: 20px auto;
    width: 70%;
    border: solid 4px rgba(255, 255, 255, 0.1);
}
.image img{
    width: 274px;
    height: 250px;
    object-fit: cover;
}
#flyer{
    width: 60%;
    margin: auto;
}

form {
    display:flex;
    flex-direction:column;
    width:100%;
    margin: 0;
}
form label{
    width: 100%;
    margin: auto;
}
form label span {
    display: block;
    width: 73px;
    margin: auto;
    text-align: center;
}
input, textarea, select, button {
    display:block;
    width:80%;
    padding:0.5rem;
    margin:0.5em auto;
    font-family: 'Montserrat', sans-serif;
}
form button{
    width: 50%;
    margin: 10px auto;
}

/** TO TOP **/

#toTop { 
    display:none;
    position: fixed; 
    z-index: 1;
    bottom: 4px;
    right: 8px;
    cursor: pointer;
} 
#toTop img { 
    width: 40px; 
    height: 40px; 
}

footer{
    height: 20vh;
    padding: 10px;
    text-align: center;
    font-size: 9px;
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border-top: solid 1px rgba(255, 255, 255, 0.089);
}
footer ul{
    list-style: none;
    margin: 0;
    padding:0;
}
footer h2{
    margin: auto;
    font-family: 'Poller One', cursive;
    background-color: black;
    color: white;   
    box-shadow: none;
}

#rights{
    font-size: 1em;
}

#rights button{
    padding: 0;
    background-color: black;
    border: none;
    margin: 0;
    font-size: 1em;
}


@media screen and (min-width : 430px){
    body{
        background-image: url(../img/header3.png);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height: 100%;
    }

    .accueil{
        background-color: rgba(0, 0, 0, 0);
    }
}

@media screen and (min-width : 494px){
    nav li{
        width: 100px;
        text-align: center;
        padding: 10px;
        transition: 0.3s; 
    }
    nav li:hover{        
        border-left: solid 5px rgba(255, 255, 255, 0.100);
        border-right: solid 5px rgba(255, 255, 255, 0.100);
        transition: 0.3s; 
    }
    .bio{
        padding: 40px;
        color: white;
    }
}

@media screen and (min-width : 766px){
    #toTop{
        bottom: 74px;
        right: 30px;
    }
    header{
        height: 237px;
    }
    h1{
        width: 593px;
        top: 73px;
        padding : 5px 0;
        font-size: 46px;
    }
    nav.une {
        display: none;
    }
    nav.deux{
        display: block;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    nav.sticky {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
    }
    main{
        height: auto;
    }
    section{
        width: 45%;
        margin: auto;
        padding: 40px 80px;
    }
    .photosflex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .affiches img{
        margin: 20px auto;
        width: calc(80% / 2);
    }
    .image{
        margin: 20px auto;
        width: calc(90% / 2);
    }
    .image img{
        width: 90%;
        height: 150px;
        object-fit: cover;
    }
    #flyer{
        width: 50%;
        margin: 20px auto;
    }
}

@media screen and (min-width : 1020px){
    nav{
        height: 6vh;
    }
    h1{
        width: 870px;
        top: 64px;
        padding : 12px 0;
        font-size: 68px;
    }
    .musicien img{
        float: left;
    }
    .musicien p {
        padding: 10px;
        margin: 0;
    }
    .image img{
        height: 250px;
    }
    form {
        display:flex;
        flex-direction:column;
        width:100%;
        margin: 0;
    }
    input, textarea, select {
        width: 50%;
    }
    form button{
        width: 20%;
    }
}